h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 70px;
    font-family: sans-serif;
}

img {
    margin-top: 5%;
}

div {
    text-align: center;
}

body {
    background-color: rgb(229, 229, 229);
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

button {
    padding: 10px 20px;
}